<p id="notice"><%= notice %></p>

<p>
  <b>String field:</b>
  <%= @all_field_type.string_field %>
</p>

<p>
  <b>Mask field:</b>
  <%= @all_field_type.mask_field %>
</p>

<p>
  <b>Permalink field:</b>
  <%= @all_field_type.permalink_field %>
</p>

<p>
  <b>Email field:</b>
  <%= @all_field_type.email_field %>
</p>

<p>
  <b>Pdf field:</b>
  <%= @all_field_type.pdf_field %>
</p>

<p>
  <b>File field:</b>
  <%= @all_field_type.file_field %>
</p>

<p>
  <b>Image field:</b>
  <%= @all_field_type.image_field %>
</p>

<p>
  <b>Password field:</b>
  <%= @all_field_type.password_field %>
</p>

<p>
  <b>Select field:</b>
  <%= @all_field_type.select_field %>
</p>

<p>
  <b>Radio field:</b>
  <%= @all_field_type.radio_field %>
</p>

<p>
  <b>Checkbox field:</b>
  <%= @all_field_type.checkbox_field %>
</p>

<p>
  <b>Date field:</b>
  <%= @all_field_type.date_field %>
</p>

<p>
  <b>Time field:</b>
  <%= @all_field_type.time_field %>
</p>

<p>
  <b>Timestamp field:</b>
  <%= @all_field_type.timestamp_field %>
</p>

<p>
  <b>Datetime field:</b>
  <%= @all_field_type.datetime_field %>
</p>

<p>
  <b>Currency field:</b>
  <%= @all_field_type.currency_field %>
</p>

<p>
  <b>Float field:</b>
  <%= @all_field_type.float_field %>
</p>

<p>
  <b>Decimal field:</b>
  <%= @all_field_type.decimal_field %>
</p>

<p>
  <b>Integer field:</b>
  <%= @all_field_type.integer_field %>
</p>

<p>
  <b>Text field:</b>
  <%= @all_field_type.text_field %>
</p>

<p>
  <b>Wysi field:</b>
  <%= @all_field_type.wysi_field %>
</p>


<%= link_to 'Edit', edit_all_field_type_path(@all_field_type) %> |
<%= link_to 'Back', all_field_types_path %>
